<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.laba.laba" >

    <!--Permisos Parse-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="example.laba.laba.permission.C2D_MESSAGE" />
    <uses-permission android:name="example.laba.laba.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/volcanoic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="example.laba.laba.App">

        <activity
            android:name="example.laba.laba.main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.cprueba"
            android:label="prueba"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CPRUEBA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.regincidencia"
            android:noHistory="true"
            android:label="REGISTRO DE INCIDENCIA"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.REGINCIDENCIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.regincidenciaA"
            android:noHistory="true"
            android:label="REGISTRO DE INCIDENCIA"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.REGINCIDENCIAA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.alumno"
            android:label="PANEL DE CONTROL"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ALUMNO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.administrador"
            android:label="PANEL DE CONTROL"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ADMINISTRADOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.descincidencia"
            android:label="INCIDENCIA"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DESCINCIDENCIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.actestado"
            android:label="NUEVO ESTADO"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ACTESTADO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.control"
            android:label="CONTROL DE SOLICITUDES"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CONTROL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.tabla"
            android:label="TABLA"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.TABLA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.contlab"
            android:label="CONTROL DE LABORATORIOS"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.CONTLAB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.regrequerimientoA"
            android:label="REGISTRO DE REQUERIMIENTOS"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.REGREQUERIMIENTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.descrequerimiento"
            android:label="REQUERIMIENTO"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DESCREQUERIMIENTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.bienvenido"
            android:label="LABA"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BIENVENIDO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.sincronizar"
            android:label="INICIAR SINCRONIZACION"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SINCRONIZAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <meta-data android:name="DATABASE" android:value="sugar_example.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="example.laba.laba" />


        <!--PARAMETROS DE PARSE-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="example.laba.laba.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="example.laba.laba" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
