<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.laba.laba" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/volcanoic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="example.laba.laba.main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.cprueba"
            android:label="prueba"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CPRUEBA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.regincidencia"
            android:noHistory="true"
            android:label="Registro de Incidencia"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.REGINCIDENCIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.contsolic"
            android:label="Control de Solicitudes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CONTSOLIC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.alumno"
            android:label="PANEL DE CONTROL"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ALUMNO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.administrador"
            android:label="PANEL DE CONTROL"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ADMINISTRADOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.descincidencia"
            android:label="INCIDENCIA"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DESCINCIDENCIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.actestado"
            android:label="NUEVO ESTADO"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ACTESTADO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.laba.laba.control"
            android:label="CONTROL DE SOLICITUDES"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CONTROL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
